#background-smart-content {
    /* position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    margin: auto 0; */
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem !important;
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  

.container {
    max-width: 768px !important;
    position: absolute;
    margin: 0 auto;
    /* top: 0; */
    background: rgba(0, 0, 0, 0.5);
    background: white; 
    
    width: 100%;
    padding: 20px;
    border-radius: .5rem;
}

.head {
    padding: .5rem 1rem;
    /* margin-top: 3rem; */
}

.info {
    text-align: center;
}

.info-1 {
    border-bottom: 5px solid red;
}

.info-2 {
    border-bottom: 5px solid blue;
}

.info-3 {
    border-bottom: 5px solid red;
}


/* TASK */

.task {
    /* padding: 1rem 2rem; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.task-icon {
    font-size: 2rem;
}

.task-text {
    width: 90%;
    align-items: center;
    vertical-align: middle;
}
